@import "../global/variables.scss";

.additional-product {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 27px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 2fr 1fr; */
    gap: 25px 0;
    border: 1px solid #cdcdcd;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 17px;
    grid-template-columns: 1fr 1fr 244px;
    align-items: center;
    gap: 40px;
    border-left: none;
    border-right: none;
  }
}

.additional-product__name {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.additional-product__data-list {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 90px;
    margin-bottom: 0;
  }
}

.additional-product__number {
  margin: 0;

  @media (min-width: $tablet-width) {
    justify-self: flex-end;
  }
}

.additional-product__description {
  @media (min-width: $tablet-width) {
    justify-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-start;
  }
}

.additional-product__button {
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}
