@import "../global/variables.scss";
@import "../global/mixins.scss";

.additional-products {
  padding: 25px 0 35px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 0 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 86px;
  }
}

.additional-products__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.additional-products__title {
  display: inline-flex;
  position: relative;
  margin: 0;
  margin-bottom: 49px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 60%;
    right: calc(100% + 21px);
    background-color: #68b738;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    left: calc(100% + 21px);
    top: 60%;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-left: 37px;

    &::before {
      right: calc(100% + 37px);
    }

    &::after {
      left: calc(100% + 36px);
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;

    &::before {
      right: calc(100% + 40px);
    }

    &::after {
      left: calc(100% + 35px);
    }
  }
}

.additional-products__list {
  @include normalize-list();
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 0;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-products__item {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -19px;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }

  &:first-child {
    &::before {
      position: absolute;
      content: "";
      top: -13px;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;

      @media (min-width: $tablet-width) {
        content: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: none;
    }
  }
}

.additional-products__inner-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 894px 245px;
    gap: 79px;
  }
}
