@import "../global/variables.scss";

.applications {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 280px; */
  width: 87.5%;
  margin: 0 auto;
  padding: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    /* width: 708px; */
    width: 92.2%;
    gap: 30px;
    padding: 0 0 45px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 71px;
  }
}
