.button {
  display: inline-block;
  padding: 7px 44px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
