@import "../global/variables.scss";

.contacts {
  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.contacts__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 280px;
  min-height: 112px;
  padding: 26px 0;
  display: grid;
  grid-template-columns: repeat(2, 139px);
  gap: 2px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 60px 37px;
    grid-template-columns: 180px 160px;
    gap: 296px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 565px;
    max-height: 250px;
    overflow: auto;
    padding: 56px 80px 42px;
    grid-template-columns: 163px 120px;
    gap: 87px;
    background-color: #ffffff;
  }
}

.contacts__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 7px;
    margin-top: -5px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts--alt-bg {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
