@import "../global/variables.scss";

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .copyright__icon {
      fill: #68b738;
    }
  }

  &:active {
    .copyright__link {
      opacity: 0.3;
    }

    .copyright__icon {
      fill: #68b738;
    }
  }
}

.copyright__link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .copyright {
    gap: 23px;
  }
}
