@import "../global/variables.scss";

.example {
  background-color: #eaeaea;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__results-list {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.example__results-item-wrapper {
  box-sizing: border-box;
  width: 124px;
  padding: 14.5px 22px 0 22px;
  display: flex;
  flex-direction: column-reverse;
  gap: 7.5px;
  outline: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__result-description {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: -14px;
  padding: 0 5px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.example__result-value {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__price-wrapper {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.example__price-desc {
  margin: 0;
}

.example__price-number {
  margin: 0;
}

.example__results-wrapper {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to top, #f2f2f2 462px, #ffffff 462px);
  }

  .example__wrapper {
    width: 708px;
    padding: 0;
  }

  .example__title {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__results-wrapper {
    display: grid;
    grid-template-columns: 366px 1fr;
    align-items: center;
    margin-bottom: 99px;
  }

  .example__results-list {
    gap: 42px;
    margin-bottom: 0;
  }

  .example__results-item-wrapper {
    width: 162px;
    padding: 15px 16px 0 16px;
    gap: 15px;
  }

  .example__result-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__result-description {
    padding: 0 2px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: -6px;

    & br {
      display: none;
    }
  }

  .example__price-wrapper {
    max-width: 180px;
    justify-self: flex-end;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__slider {
    height: 462px;
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 1220px;
  }

  .example__title {
    margin-bottom: 76px;
  }

  .example__text {
    margin-bottom: 69px;
  }

  .example__results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 55px;
    margin: 0;
  }

  .example__result-description {
    background-color: #f2f2f2;
  }

  .example__price-wrapper {
    max-width: 371px;
    display: flex;
    gap: 63px;
  }

  .example__inside-wrapper {
    display: grid;
    grid-template-columns: 436px 560px;
    gap: 224px;
  }

  .example__wrapper-text {
    padding: 70px 0 75px 0;
  }
}
