@import "../global/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 39px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 58px 30px 55px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px 110px;
  }
}

.footer__logo {
  display: block;
  align-self: center;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social {
  position: relative;
  margin-bottom: 43px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -20px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -21px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &::before,
    &::after {
      content: none;
    }
  }
}
