@import "../global/variables.scss";
@import "../global/mixins.scss";

.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.form__title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  &::before {
    position: absolute;
    content: "";
    margin-right: 20px;
    top: 50%;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      margin-right: 40px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    margin-left: 22px;
    top: 50%;
    width: 100vw;
    height: 2px;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      margin-left: 40px;
    }
  }
}

.form__label {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  margin: 0;
  padding: 0;
}

.form__input[type="radio"],
.form__input[type="checkbox"] {
  display: none;

  &:not(:disabled) + .form__label:hover {
    &::before {
      outline: 1px solid #bababa;
    }
  }

  &:disabled + .form__label {
    opacity: 0.3;
  }
}

.form__input[type="radio"] + .form__label {
  gap: 15px;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    outline: 1px solid #cdcdcd;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__input[type="radio"]:checked + .form__label {
  &::before {
    background-image: url("../img/radio-active.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-image: url("../img/radio-active-tablet.svg");
    }
  }
}

.form__input[type="checkbox"] + .form__label {
  gap: 16px;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    outline: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__input[type="checkbox"]:checked + .form__label {
  &::before {
    background-image: url("../img/checkbox-active.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-image: url("../img/checkbox-active-tablet.svg");
    }
  }
}

.form__group--purpose .form__label {
  color: #222222;
}

.form__group--additional .form__label {
  color: #000000;
}

.form__control {
  position: relative;
  display: flex;
  align-items: center;
}

.form__input-icon {
  position: absolute;
  right: 15px;

  @media (min-width: $tablet-width) {
    right: 18px;
  }
}

.form__input--email,
.form__input--tel {
  &:focus {
    & + .form__input-icon path {
      stroke: #68b738;
    }
  }

  &:invalid:not(:placeholder-shown) {
    & + .form__input-icon path {
      stroke: #ff8282;
    }
  }
}

.form__group--cat {
  position: relative;
  gap: 14px;
  margin-bottom: 46px;

  &::after {
    position: absolute;
    content: "";
    bottom: -24px;
    left: -100%;
    width: 1000000px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: 0;
  }
}

.form__group--purpose {
  position: relative;
  margin-bottom: 45px;

  &::after {
    position: absolute;
    content: "";
    bottom: -19px;
    left: -100%;
    width: 1000000px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 25px 0 25px 28px;
    margin-bottom: 71px;
    outline: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin-bottom: 0;
  }
}

.form__group--owner-cat {
  margin-bottom: 23.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form__controls-owner-cat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 78px;
  }
}

.form__group--comment {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form__group--additional {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__group--cat .form__control {
  gap: 13px;
}

.form__group--owner-cat .form__control {
  gap: 10px;
}

.form__list {
  @include normalize-list();
  display: flex;
  flex-direction: column;
}

.form__list--purpose {
  gap: 13px;
}

.form__list--additional {
  gap: 13px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__group--owner-cat .form__title {
  margin-bottom: 35px;

  &::before {
    top: 30%;

    @media (min-width: $tablet-width) {
      top: 50%;
    }
  }

  &::after {
    margin-left: 36px;
    top: 30%;

    @media (min-width: $tablet-width) {
      top: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__group--comment .form__title {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__group--additional .form__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 1fr;
    gap: 64px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 568px 1fr;
    gap: 84px;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    justify-self: flex-start;
  }
}

.form__form-group-cat-and-purpose-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 69px;
  }
}
