.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0 17px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 57px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .header {
    width: 708px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 0 0;
  }

  .header__logo {
    gap: 12px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: 1220px;
    padding: 53px 0 0 0;
  }

  .header__logo {
    gap: 14px;
  }
}
