@import "../global/variables.scss";

.header {
  min-width: 280px;
  padding: 10px 0 17px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 94.25%;
    max-width: 1220px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 53px 0 0 0;
  }
}

.header__logo-wrapper {
  width: 60%;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 0;
    margin: 0;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    gap: 14px;
  }
}

.header__logo {
  display: block;
}
