@import "../global/variables.scss";

.input {
  width: 100%;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: none;
  outline: 1px solid #e7e7e7;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input[type="number"] {
  /* stylelint-disable property-no-vendor-prefix*/
  -moz-appearance: textfield;
  /* stylelint-enable property-no-vendor-prefix*/
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.input--cat {
  padding: 15px 21px 12px;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }
}

.input--owner-cat {
  padding: 15px 40px 12px 16px;

  @media (min-width: $tablet-width) {
    padding: 11px 45px 11px 20px;
  }
}

.input--comment {
  box-sizing: border-box;
  min-height: 150px;
  resize: none;
  padding: 9px 15px;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    min-height: 174px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 19px;
  }
}
