@import "../global/variables.scss";

/* .location__map-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
} */

.location__map {
  display: block;
  border: none;
  width: 100%;
}

.location__map-image {
  display: block;
  width: 100%;
}

.location--alt-bg {
  background-color: #f2f2f2;
}
