@import "../global/variables.scss";

.more-products {
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  text-align: center;
}

.more-products__description {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url("../img/plus.svg");
  }
}

.more-products__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .more-products {
    padding: 161px 37px 38px 37px;
    outline: 2px solid #f2f2f2;
  }

  .more-products__description {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;

    &::before {
      bottom: 49px;
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
    }
  }

  .more-products__text {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}
