@import "../global/variables.scss";

.present {
  box-sizing: border-box;
  width: 280px;
  padding: 58px 61px 43px 58px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-background-present@1x.png");
  background-repeat: no-repeat;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-background-present@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 708px;
    padding: 57px 124px 60px 77px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-background-present-big@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-background-present-big@2x.png");
      background-size: 707px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    padding: 56px 43px 42px 41px;
  }
}

.present__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-present.svg");
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: grid;
    grid-template-columns: 80px 161px;
    gap: 265px;
    text-align: left;

    &::before {
      width: 80px;
      height: 82px;
    }
  }
}
