@import "../global/variables.scss";

.present {
  box-sizing: border-box;
  width: 280px;
  padding: 58px 61px 43px 58px;
  /* stylelint-disable unit-no-unknown*/
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../img/catalog-background-present@1x.webp" 1x, "../img/catalog-background-present@1x.png" 1x, "../img/catalog-background-present@2x.webp" 2x, "../img/catalog-background-present@2x.png" 2x);
  /* stylelint-enable unit-no-unknown*/
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 708px;
    padding: 58px 124px 60px 77px;
    /* stylelint-disable unit-no-unknown*/
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../img/catalog-background-present-big@1x.webp" 1x, "../img/catalog-background-present-big@1x.png" 1x, "../img/catalog-background-present-big@2x.webp" 2x, "../img/catalog-background-present-big@2x.png" 2x);
    /* stylelint-enable unit-no-unknown*/
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    padding: 56px 43px 42px 41px;
    background-position: -33px;
    background-repeat: repeat, no-repeat;
  }
}

.present__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-present.svg");
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    display: grid;
    grid-template-columns: 80px 161px;
    gap: 265px;
    text-align: left;

    &::before {
      width: 80px;
      height: 82px;
    }
  }
}
