@import "../global/variables.scss";

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 12px 0 14px 0;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 160px 36px 39px 36px;
    background-color: #f2f2f2;
  }
}

.product-card__link-image {
  position: absolute;
  top: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    top: -73px;
    transform: translate(-50%);
  }

  @media (min-width: $desktop-width) {
    top: -80px;
  }
}

.product-card__link-image--small-image {
  top: 16px;

  @media (min-width: $tablet-width) {
    top: -45px;
  }

  @media (min-width: $desktop-width) {
    top: -52px;
  }
}

.product-card__image {
  display: block;
}

.product-card__link {
  grid-column: 2 / 3;
  display: block;
  margin: 0;
  margin-bottom: 14px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    max-width: 154px;
    align-self: center;
    text-align: center;
    margin-bottom: 19px;
  }
}

.product-card__name {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;

    & br {
      display: none;
    }
  }
}

.product-card__data-list {
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-size: 16px;
    line-height: 16px;
  }
}

.product-card__data-item-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -9px;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;
    }
  }
}

.product-card__value {
  margin: 0;
}

.product-card__button {
  grid-column: 1 / -1;
  margin-top: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }
}
