@import "../global/variables.scss";
@import "../global/mixins.scss";

.products {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.products__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 27px 0 25px 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 65px 0 68px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 74px 0 75px 0;
  }
}

.products__title {
  position: relative;
  margin: 0;
  margin-bottom: 49px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    left: -100%;
    right: 0;
    bottom: -41px;
    width: 1000000px;
    height: 1px;
    background-color: #ebebeb;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 163px;
    font-size: 60px;
    line-height: 60px;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 165px;
  }
}

.products__list {
  @include normalize-list();
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 141px 60px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 144px 80px;
  }
}

.products__item {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: -100%;
    bottom: -11px;
    width: 1000000px;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.products__item--more-products {
  position: relative;

  &::after {
    content: none;
  }
}
