.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 11px 0 14px 0;
}

.product-card__link-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}

.product-card__link {
  grid-column: 2 / 3;
  display: block;
  margin: 0;
  margin-bottom: 18px;
  text-decoration: none;
}

.product-card__name {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.product-card__data-list {
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
}

.product-card__data-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card__value {
  margin: 0;
}

.product-card__button {
  grid-column: 1 / -1;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 161px 36px 39px 36px;
    background-color: #f2f2f2;
  }

  .product-card__link-image {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
  }

  .product-card__name {
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__link {
    max-width: 154px;
    align-self: center;
    text-align: center;
    margin-bottom: 21px;
  }

  .product-card__data-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 42px;
  }

  .product-card__data-item-wrapper {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -9px;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;
    }
  }
}
