.program-selection {
  padding: 27px 0 32px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.program-selection__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.program-selection__description {
  margin: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
