@import "../global/variables.scss";

.promo {
  /* stylelint-disable unit-no-unknown*/
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../img/index-background-promo@1x.webp" 1x, "../img/index-background-promo@1x.png" 1x, "../img/index-background-promo@2x.webp" 2x, "../img/index-background-promo@2x.png" 2x);
  /* stylelint-enable unit-no-unknown*/
  background-repeat: no-repeat, no-repeat;
  background-size: auto 302px, auto 302px;
  background-position: center 0, center 0;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      top: -113px;
      right: 0;
      /* stylelint-disable unit-no-unknown*/
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../img/index-background-promo-desktop@1x.webp" 1x, "../img/index-background-promo-desktop@1x.png" 1x, "../img/index-background-promo-desktop@2x.webp" 2x, "../img/index-background-promo-desktop@2x.png" 2x);
      /* stylelint-enable unit-no-unknown*/
      background-repeat: no-repeat, no-repeat;
      background-size: auto 694px, auto 694px;
      z-index: -1;
    }
  }
}

.promo__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 27px 0 20px 0;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  background-image: image-set("../img/index-cat-nutrition-promo@1x.webp" 1x, "../img/index-cat-nutrition-promo@1x.png" 1x, "../img/index-cat-nutrition-promo@2x.webp" 2x, "../img/index-cat-nutrition-promo@2x.png" 2x);
  background-repeat: no-repeat;
  background-position: center 167px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 62px 205px 526px 87px;
    background-image: image-set("../img/index-cat-nutrition-promo-tablet@1x.webp" 1x, "../img/index-cat-nutrition-promo-tablet@1x.png" 1x, "../img/index-cat-nutrition-promo-tablet@2x.webp" 2x, "../img/index-cat-nutrition-promo-tablet@2x.png" 2x);
    background-position: center bottom;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    box-sizing: border-box;
    width: 1220px;
    padding: 111px 720px 267px 80px;
    background-image: image-set("../img/index-cat-nutrition-promo-desktop@1x.webp" 1x, "../img/index-cat-nutrition-promo-desktop@1x.png" 1x, "../img/index-cat-nutrition-promo-desktop@2x.webp" 2x, "../img/index-cat-nutrition-promo-desktop@2x.png" 2x);
    background-position: 448px 32px;
  }
}

.promo__header {
  margin-bottom: 302px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__description {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }
}
