.promo {
  display: flex;
  flex-direction: column;
  padding: 27px 20px 20px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  background-image: url("../img/index-cat-nutrition-promo.png"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-promo.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center 167px, 0 0, 0 0;
  background-size: auto, 320px 302px, auto;
}

.promo__header {
  margin-bottom: 302px;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.promo__description {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
