@import "../global/variables.scss";

.promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-promo.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto 302px, auto 302px;
  background-position: center 0, center 0;
}

.promo__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 27px 0 20px 0;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  background-image: url("../img/index-cat-nutrition-promo.png");
  background-repeat: no-repeat;
  background-position: center 167px;
}

.promo__header {
  margin-bottom: 302px;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.promo__description {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
  }

  .promo__wrapper {
    width: 708px;
    padding: 62px 205px 526px 87px;
    background-image: url("../img/index-cat-nutrition-promo-tablet.png");
    background-position: center bottom;
    text-align: left;
  }

  .promo__header {
    margin-bottom: 49px;
  }

  .promo__title {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  .promo__description {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  .promo__button {
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      top: -113px;
      right: 0;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-promo-desk.png");
      background-repeat: no-repeat, no-repeat;
      background-size: auto 694px, auto 694px;
      z-index: -1;
    }
  }

  .promo__wrapper {
    position: relative;
    box-sizing: border-box;
    width: 1220px;
    padding: 111px 720px 267px 80px;
    background-image: url("../img/index-cat-nutrition-promo-desktop.png");
    background-position: 448px 32px;
  }

  .promo__title {
    margin-bottom: 40px;
  }

  .promo__header {
    margin-bottom: 52px;
  }
}
