.social {
  @include normalize-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.social__icon {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .socail {
    max-width: 132px;
  }
}
