@use "global/fonts.scss";
@use "blocks/page.scss";
@use "blocks/header.scss";
@use "blocks/navigation.scss";
@use "blocks/nav-list.scss";
@use "blocks/promo.scss";
@use "blocks/button.scss";
@use "blocks/application.scss";
@use "blocks/applications.scss";
@use "blocks/advantages.scss";
@use "blocks/advantage.scss";
@use "blocks/example.scss";
@use "blocks/location.scss";
@use "blocks/contacts.scss";
@use "blocks/social.scss";
@use "blocks/footer.scss";
@use "blocks/copyright.scss";
@use "blocks/products.scss";
@use "blocks/product-card.scss";
@use "blocks/more-products.scss";
@use "blocks/additional-products.scss";
@use "blocks/additional-product.scss";
@use "blocks/present.scss";
